.col-xs-6 {
    background-color: #f7f7f7;
}

/*#title { margin-top: 0px; }*/

body {
    background-color: #4f4f4f
        /*url("https://storage.needpix.com/thumbs/gray-mosaic-background-pattern.jpg")*/
    ;
    background-size: auto;
    width:1353px;
    margin: auto;

}

#date{
    font-family: "Sans-serif";
    font-size: 16px;
    text-align: center;
    font-style: bold;
    margin-bottom: 5px;
    color: white;
}

#left,
#right {
    margin-bottom: 10px;
}

#left {
    padding-top: 2%;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 20px;
    width: 49%;
    border-radius: 15px;
    box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3);
    min-height: 497px;
    height: auto;
}

#right {
    padding-top: 2%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    /*margin-left:10px;*/
    width: 49%;
    border-radius: 15px;
    box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3);
    min-height: 497px;
    height: auto;
}

#headerSpace{ 
			background-color: #ffffff; border-radius: 0px 0px 10px 10px;
			padding:1.5%;
			box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3); margin-bottom:10px;
		}

#loggedUser {
    text-align: right;
}

.form-control {
    height: 50px;
    display: inline
}

#addtodo {
    /*width: 85%;*/
    margin-right: 0px;
}

input {
    margin-bottom: 10px;
}

/*#addtodo,
#addbtn {
    float: left;
}*/

#addbtn {
    margin-left: 10px;
    height: 50px;
    background-color: #e6ebf2;
    width: 54px;
}

#addbtn{ 	margin-left:10px;
			height:50px;
			background-color: #e6ebf2;
			width:54px;
		}

#specialbutton {
    margin-left: 10px;
    height: 50px;
    width: 54px;
    text-align: center;
}

.styleTextbox {
    width: 71%;
}

.styleButton {
    margin-left: 10px;
    height: 50px;
    background-color: #e6ebf2;
    width: 54px
}

.left{
	margin-right: 62px;
}

.doneButton {
    background-color: #f0ffe0;
}

.btn {
    padding: 0;
}

.styleDone {
    width: 80%;
}

@media only screen and (max-width: 1200px) {

    #left,
    #right {
        width: 100%;
    }
}

@media only screen and (max-width: 1353px){
	body{
		width: 100%;
	}
}

.footer {
    background-color: white;
    width: 99%;
    box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3);
    border-radius: 2px 0px 10px 10px;
    margin: 2px auto 4px auto;
    height: 30px;
}

.footer span{
	margin: auto;
}


#headerSpace {
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    padding-bottom: 5px;
    box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3);
    margin: 2px auto 10px auto;
    width: 99%;
}

.title {
    float: left;
    margin-top: -15px;
    margin-bottom: 0px;
}

#loggedUser {
    margin-top: 20px;
    margin-bottom: 0px;
}

.textInput{

}

.noContent{
	width: 100%; text-align: center; margin-top: 120px;float: left; font-size: 32px; opacity: .4;
}

.btn-float{
	float: right;
	margin-top: -60px;
}

.txtFloat{
	width: 100%;
	float: left;
	padding-right: 9%;
}

.dataFloat{
	width: 100%;
	float: left;
	padding-right: 50px;
}

.hidethis {
    display:none;
}

.editButton{
    display:none;
}
.doneButton{
    display: none
}