.col-xs-6 { background-color: #f7f7f7; }
#title { margin-top: 0px; }

body{background-image: url("https://storage.needpix.com/thumbs/gray-mosaic-background-pattern.jpg");
	background-size: auto;

}

#date{
	font-size: 16px;
	text-align: center;
	font-style: bold;
	margin-bottom: 5px;
	color: white;
=======
>>>>>>> Stashed changes
}

#left  { padding-top: 2%;
		 padding-bottom: 10%;
		 padding-left: 5%;
		 padding-right:5%;
		 margin-right:10px;
		 width:49%;
		 border-radius: 15px;
		 box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3);
		 min-height: 300px;
		 height: auto;
		}

#right { padding-top: 2%;
		 padding-bottom: 10%;
		 padding-left: 5%;
		 padding-right:5%;
		 margin-left:10px;
		 width:49%;
		 border-radius: 15px;
		 box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3);
		 min-height: 300px;
		 height: auto;
		}

#headerSpace{
			background-color: #ffffff; border-radius: 10px;
			padding:1.5%;
			box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.3); margin-bottom:10px;
			}

#loggedUser{ text-align: right; }
body	{ background-color: #ddd; }
.form-control { height:50px;
				display: inline }

#addtodo{ width:85%; margin-right: 0px; }

input {margin-bottom:10px ;}

#addtodo, #addbtn{
	float: left;
}

#addbtn{ 	margin-left:10px;
			height:50px;
			background-color: #e6ebf2;
			width:54px;
}


#specialbutton{		margin-left:10px;
					height:50px;
					width: 54px
					text-align:center;
				}

.styleTextbox{width:71%;}

.styleButton{	margin-left:10px;
				height:50px;
				background-color: #e6ebf2;
				width: 54px
			}

.doneButton{background-color: #f0ffe0;}

.btn{padding: 0;}

.styleDone{width: 80%;}